@charset "UTF-8";
.purple {
  background: #807eb7;
}
.light-purple {
  background: #9896c4;
}
.pink {
  background: #ec4f7c;
}
.light-pink {
  background: #ee7094;
}
.green {
  background: #61b9a2;
}
.light-green {
  background: #84c8b6;
}
.yellow {
  background: #f3a127;
}
.light-yellow {
  background: #f4b250;
}
.cherry {
  background: #e53a64;
}
.light-cherry {
  background: #e85f81;
}
.red {
  background: #db412b;
}
.light-red {
  background: #df5c4a;
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
/* Slider */
.slick-loading .slick-list {
  background: #fff url('ajax-loader.gif') center center no-repeat;
}
/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/slick.eot');
  src: url('fonts/slick.eot?#iefix') format('embedded-opentype'), url('fonts/slick.woff') format('woff'), url('fonts/slick.ttf') format('truetype'), url('fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px \9;
  /*lte IE 8*/
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -25px;
}
.slick-prev[dir="rtl"] {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
.slick-prev:before[dir="rtl"] {
  content: "→";
}
.slick-next {
  right: -25px;
}
.slick-next[dir="rtl"] {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
.slick-next:before[dir="rtl"] {
  content: "←";
}
/* Dots */
.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}
.slick-loading .slick-list {
  background: #fff url('../images/ajax-loader.gif') center center no-repeat;
}
* {
  outline: none;
}
/* estrutura */
header {
  height: 365px;
  background: url(../images/header-bg.jpg) no-repeat center center;
  position: relative;
  overflow: hidden;
}
header .container {
  height: 365px;
}
header .natura-flor {
  position: absolute;
  background: url(../images/header-natura.png) no-repeat center center;
  width: 451px;
  height: 235px;
  bottom: 0px;
  right: 210px;
  opacity: 0.7;
}
header .logo-sou {
  position: absolute;
  background: url(../images/sou-logo.png) no-repeat center center;
  width: 333px;
  height: 176px;
  top: 40px;
  right: 50px;
}
header p {
  position: absolute;
  bottom: 89px;
  right: 4px;
  color: #bcbcbc;
  width: 190px;
  font-family: "GillSansStd-Light";
  font-size: 17px;
  text-align: left;
}
.container-st {
  height: 2500px;
  width: 100%;
  background: #fff;
}
#produtos {
  background: #fff;
  height: 500px;
}
#produtos .container {
  overflow: hidden;
  height: 470px;
}
#produtos h2 {
  color: #807eb7;
  font-family: "naturasanslight";
  font-size: 35px;
  float: right;
  margin-right: 52px;
  margin-top: 85px;
  letter-spacing: -1px;
}
#produtos h3 {
  color: #807eb7;
  font-family: "naturasansregular";
  font-size: 50px;
  float: right;
  margin-right: 108px;
  margin-top: -18px;
  letter-spacing: -1px;
}
#produtos h3 span {
  font-size: 78px;
}
#produtos a.yellowBox {
  position: absolute;
  right: 129px;
  display: block;
  background: url(../images/circle.png) no-repeat;
  width: 133px;
  height: 133px;
  margin-top: 20px;
  text-align: center;
  padding: 45px 5px;
  text-transform: uppercase;
  font-family: "naturasansbold";
  font-size: 16px;
  transition: all 0.2s ease-out;
}
#produtos a.yellowBox:hover {
  background: url(../images/circle-hover.png) no-repeat;
}
#produtos .each-product {
  float: left;
  margin-top: -111px;
  margin-left: 160px;
}
#produtos .each-product div {
  position: absolute;
  min-height: 200px;
}
#produtos .each-product div.creme {
  margin-left: -91px;
  margin-top: 80px;
}
#produtos .each-product div.condicionador {
  margin-left: -104px;
  margin-top: 60px;
}
#produtos .each-product div.shampoo {
  margin-left: -117px;
  margin-top: 40px;
}
#produtos .each-product div.sabonete {
  margin-left: -135px;
  margin-top: 20px;
}
#produtos .each-product div.hidratante {
  margin-left: -120px;
}
.container-history {
  height: 10700px;
  width: 100%;
  background: transparent;
}
@media screen and (max-height: 780px) {
  .container-history {
    height: 8500px;
  }
}
#historico {
  background: url(../images/bg-historico.jpg) no-repeat top center;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  overflow: hidden;
}
#historico .container {
  overflow: hidden;
}
#historico .col {
  height: 240px;
}
#historico .sou-area .sou_logo {
  background: url(../images/logo-sou2.png) no-repeat center;
  width: 189px;
  height: 101px;
  margin-left: 63px;
  margin-top: 5px;
}
#historico .sou-area h3 {
  color: #696969;
  padding-left: 170px;
  margin-top: -10px;
  font-size: 30px;
  font-family: "naturasanslight";
  letter-spacing: -1px;
}
#historico .sou-area h3 strong {
  font-family: "naturasansbold";
}
#historico .arrow.purple:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(128, 126, 183, 0);
  border-left-color: #807eb7;
  border-width: 22px;
  margin-top: -4%;
  z-index: 1;
}
#historico .arrow.pink:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(236, 79, 124, 0);
  border-left-color: #ec4f7c;
  border-width: 22px;
  margin-top: -21px;
  z-index: 1;
}
#historico .arrow.green:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(97, 185, 162, 0);
  border-left-color: #61b9a2;
  border-width: 22px;
  margin-top: -21px;
  z-index: 1;
}
#historico .arrow.yellow:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(243, 161, 39, 0);
  border-left-color: #f3a127;
  border-width: 22px;
  margin-top: -21px;
  z-index: 1;
}
#historico .arrow.cherry:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(229, 58, 100, 0);
  border-left-color: #e53a64;
  border-width: 22px;
  margin-top: -21px;
  z-index: 1;
}
#historico .arrow.red:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(219, 65, 43, 0);
  border-left-color: #db412b;
  border-width: 22px;
  margin-top: -21px;
  z-index: 1;
}
#historico .align-middle {
  display: table;
}
#historico .img {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
  display: table-cell;
  vertical-align: middle;
}
#historico .text-area {
  display: table;
  padding: 40px 35px 40px 40px;
}
#historico .text-area.light-green {
  padding: 40px 25px 40px 40px;
}
#historico .text-area p {
  font-size: 18px;
  font-family: "GillSansStd-Light";
  display: table-cell;
  vertical-align: middle;
  opacity: 0.9;
}
#historico .text-area p strong {
  font-family: "GillSansStd";
}
#historico .purple .anim1 {
  width: 104px;
  height: 113px;
  position: absolute;
  left: 50%;
  margin-left: -52px;
}
#historico .purple .anim1-1 {
  background: url(../images/grid/anim_01_1.png) no-repeat center center;
  margin-top: 90px;
}
#historico .purple .anim1-2 {
  background: url(../images/grid/anim_01_2.png) no-repeat center center;
}
#historico .purple .anim1-3 {
  background: url(../images/grid/anim_01_3.png) no-repeat center center;
}
#historico .purple .anim1-4 {
  background: url(../images/grid/anim_01_4.png) no-repeat center center;
}
#historico .purple .anim1-5 {
  background: url(../images/grid/anim_01_5.png) no-repeat center center;
}
#historico .pink .anim2 {
  position: absolute;
  width: 167px;
  height: 146px;
  left: 50%;
  margin-left: -83.5px;
  margin-top: 44px;
}
#historico .pink .anim2-1 {
  background: url(../images/grid/anim_02_1.png) no-repeat 0px 0px;
  width: 95px;
  height: 95px;
}
#historico .pink .anim2-2 {
  background: url(../images/grid/anim_02_2.png) no-repeat -77px -56px;
  width: 90px;
  height: 90px;
  margin-top: 102px;
  margin-left: -7px;
}
#historico .green .anim3 {
  position: absolute;
  width: 174px;
  height: 110px;
  left: 50%;
  top: 50%;
  margin-top: -55px;
  margin-left: -87px;
  background: url(../images/grid/anim_03_1.png) no-repeat center center;
}
#historico .yellow .anim4 {
  position: absolute;
  width: 97px;
  height: 141px;
  left: 50%;
  top: 50%;
  margin-top: -70.5px;
  margin-left: -48.5px;
  background: url(../images/grid/anim_04.png) no-repeat center center;
}
#historico .cherry .anim5 {
  position: absolute;
  width: 148px;
  height: 95px;
  left: 50%;
  top: 50%;
  margin-top: -67.5px;
  margin-left: -74px;
}
#historico .cherry .anim5-1 {
  background: url(../images/grid/anim_05_1.png) no-repeat center center;
}
#historico .cherry .anim5-2 {
  background: url(../images/grid/anim_05_2.png) no-repeat center center;
  margin-top: -5px;
  margin-left: -71px;
}
#historico .red .anim6 {
  position: absolute;
  width: 120px;
  height: 122px;
  left: 50%;
  top: 50%;
  margin-top: -61px;
  margin-left: -60px;
  background: url(../images/grid/anim_06.png) no-repeat center center;
}
#historico .full-path {
  height: 100%;
  width: 500px;
  position: absolute;
  left: 50%;
  margin-left: -250px;
  margin-top: 110px;
}
#historico .full-path .path {
  background: url(../images/path-sprite.png) no-repeat;
}
#historico .full-path .path.line1 {
  width: 500px;
  height: 30px;
}
#historico .full-path .path.line2 {
  background-position: 0px -25px;
  height: 210px;
}
#historico .full-path .path.line3 {
  background-position: 0px -215px;
  height: 70px;
}
#historico .full-path .path.line4 {
  background-position: 0px -312px;
  height: 170px;
}
#historico .full-path .path.line5 {
  background-position: 0px -470px;
  height: 120px;
}
#historico .full-path .path.line6 {
  background-position: 0px -600px;
  height: 120px;
}
#historico .full-path .path.line7 {
  background-position: 0px -720px;
  height: 120px;
}
#historico .full-path .path.line8 {
  background-position: 0px -840px;
  height: 120px;
}
#historico .full-path .path.line9 {
  background-position: 0px -960px;
  height: 40px;
}
#historico .full-path .path.line10 {
  background-position: 0px -1000px;
  height: 200px;
}
#historico .full-path .path.line11 {
  background-position: 0px -1200px;
  height: 50px;
}
@-webkit-keyframes roll {
  0% {
    -webkit-transform: rotate(0) translate(0px, 0px);
            transform: rotate(0) translate(0px, 0px);
  }
  100% {
    -webkit-transform: rotate(360deg) translate(0px, 0px);
            transform: rotate(360deg) translate(0px, 0px);
  }
}
@keyframes roll {
  0% {
    -webkit-transform: rotate(0) translate(0px, 0px);
            transform: rotate(0) translate(0px, 0px);
  }
  100% {
    -webkit-transform: rotate(360deg) translate(0px, 0px);
            transform: rotate(360deg) translate(0px, 0px);
  }
}
@-webkit-keyframes rollinverse {
  0% {
    -webkit-transform: rotate(0) translate(0px, 0px);
            transform: rotate(0) translate(0px, 0px);
  }
  100% {
    -webkit-transform: rotate(-360deg) translate(0px, 0px);
            transform: rotate(-360deg) translate(0px, 0px);
  }
}
@keyframes rollinverse {
  0% {
    -webkit-transform: rotate(0) translate(0px, 0px);
            transform: rotate(0) translate(0px, 0px);
  }
  100% {
    -webkit-transform: rotate(-360deg) translate(0px, 0px);
            transform: rotate(-360deg) translate(0px, 0px);
  }
}
@-webkit-keyframes stoproll {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes stoproll {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes skew {
  0% {
    -webkit-transform: skewX(10deg);
            transform: skewX(10deg);
  }
  100% {
    -webkit-transform: skewX(-10deg);
            transform: skewX(-10deg);
  }
}
@keyframes skew {
  0% {
    -webkit-transform: skewX(10deg);
            transform: skewX(10deg);
  }
  100% {
    -webkit-transform: skewX(-10deg);
            transform: skewX(-10deg);
  }
}
@-webkit-keyframes stopskew {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes stopskew {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}
#videos {
  background: #807eb7;
  height: 615px;
  overflow: hidden;
}
#videos .slider-videos {
  text-align: center;
  width: 100%;
}
#videos .slider-videos .video1 {
  display: table;
  background: url(../images/video01.jpg) no-repeat center;
  width: 100%;
  height: 615px;
}
#videos .slider-videos .video2 {
  display: table;
  background: url(../images/video02.jpg) no-repeat center;
  width: 100%;
  height: 615px;
}
#videos .slider-videos .video3 {
  display: table;
  background: url(../images/video03.jpg) no-repeat center;
  width: 100%;
  height: 615px;
}
#videos .slider-videos .slider_content {
  display: table-cell;
  vertical-align: middle;
}
#videos .slider-videos h1 {
  font-family: "naturasansbold";
  font-size: 55px;
  color: #fff;
}
#videos .slider-videos p {
  font-size: 22px;
  font-family: "naturasanslight";
}
#videos .slider-videos p strong {
  font-family: "naturasansbold";
}
#videos .slider-videos a.play {
  display: inline-block;
  margin-top: 30px;
}
#videos .slick-slider {
  margin-bottom: 0px;
}
#videos .custom-dots {
  position: absolute;
  bottom: 145px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
#videos .custom-dots li {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 11px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
#videos .custom-dots li button {
  border: 0;
  background: url(../images/customDots.png) no-repeat;
  background-position: -47px -6px;
  display: block;
  width: 40px;
  height: 11px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
#videos .custom-dots li button:hover,
#videos .custom-dots li button:focus {
  background-position: -4px -6px;
}
#videos .custom-dots li.slick-active button {
  background-position: -4px -6px;
}
/* fonts */
@font-face {
  font-family: 'naturasansbold';
  src: url('../fonts/naturasans-bold.eot');
  src: url('../fonts/naturasans-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/naturasans-bold.woff2') format('woff2'), url('../fonts/naturasans-bold.woff') format('woff'), url('../fonts/naturasans-bold.ttf') format('truetype'), url('../fonts/naturasans-bold.svg#naturasansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'naturasanslight';
  src: url('../fonts/naturasans-light.eot');
  src: url('../fonts/naturasans-light.eot?#iefix') format('embedded-opentype'), url('../fonts/naturasans-light.woff2') format('woff2'), url('../fonts/naturasans-light.woff') format('woff'), url('../fonts/naturasans-light.ttf') format('truetype'), url('../fonts/naturasans-light.svg#naturasanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'naturasansregular';
  src: url('../fonts/naturasans-regular.eot');
  src: url('../fonts/naturasans-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/naturasans-regular.woff2') format('woff2'), url('../fonts/naturasans-regular.woff') format('woff'), url('../fonts/naturasans-regular.ttf') format('truetype'), url('../fonts/naturasans-regular.svg#naturasansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GillSansStd-Bold';
  src: url('../fonts/GillSansStd-Bold.eot');
  src: url('../fonts/GillSansStd-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/GillSansStd-Bold.otf') format('opentype'), url('../fonts/GillSansStd-Bold.woff') format('woff'), url('../fonts/GillSansStd-Bold.ttf') format('truetype'), url('../fonts/GillSansStd-Bold.svg#GillSansStd-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GillSansStd-Light';
  src: url('../fonts/GillSansStd-Light.eot');
  src: url('../fonts/GillSansStd-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/GillSansStd-Light.otf') format('opentype'), url('../fonts/GillSansStd-Light.woff') format('woff'), url('../fonts/GillSansStd-Light.ttf') format('truetype'), url('../fonts/GillSansStd-Light.svg#GillSansStd-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GillSansStd';
  src: url('../fonts/GillSansStd.eot');
  src: url('../fonts/GillSansStd.eot?#iefix') format('embedded-opentype'), url('../fonts/GillSansStd.otf') format('opentype'), url('../fonts/GillSansStd.woff') format('woff'), url('../fonts/GillSansStd.ttf') format('truetype'), url('../fonts/GillSansStd.svg#GillSansStd') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "GillSansStd";
  font-size: 14px;
  color: #fff;
  transition: all 0.2s ease-out;
  background-color: #f8f8f8;
  overflow-x: hidden;
}
a {
  color: #fff;
  text-decoration: none;
}
ul {
  padding-left: 0;
}
ul,
li {
  list-style: none;
}
.clearfix {
  clear: both;
}
.fl-right {
  float: right;
}
.fl-left {
  float: left;
}
.uppercase {
  text-transform: uppercase;
}
.container_full {
  position: relative;
  margin: 0 auto;
  width: 100%;
}
.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
}
.col {
  position: relative;
  width: 50%;
  float: left;
}
.another-container {
  border: solid 2px #ec4f7c;
  height: 1900px;
}
