@font-face {
    font-family: 'naturasansbold';
    src: url('../fonts/naturasans-bold.eot');
    src: url('../fonts/naturasans-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/naturasans-bold.woff2') format('woff2'),
         url('../fonts/naturasans-bold.woff') format('woff'),
         url('../fonts/naturasans-bold.ttf') format('truetype'),
         url('../fonts/naturasans-bold.svg#naturasansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'naturasanslight';
    src: url('../fonts/naturasans-light.eot');
    src: url('../fonts/naturasans-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/naturasans-light.woff2') format('woff2'),
         url('../fonts/naturasans-light.woff') format('woff'),
         url('../fonts/naturasans-light.ttf') format('truetype'),
         url('../fonts/naturasans-light.svg#naturasanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'naturasansregular';
    src: url('../fonts/naturasans-regular.eot');
    src: url('../fonts/naturasans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/naturasans-regular.woff2') format('woff2'),
         url('../fonts/naturasans-regular.woff') format('woff'),
         url('../fonts/naturasans-regular.ttf') format('truetype'),
         url('../fonts/naturasans-regular.svg#naturasansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GillSansStd-Bold';
    src: url('../fonts/GillSansStd-Bold.eot');
    src: url('../fonts/GillSansStd-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GillSansStd-Bold.otf')  format('opentype'),
         url('../fonts/GillSansStd-Bold.woff') format('woff'),
         url('../fonts/GillSansStd-Bold.ttf')  format('truetype'),
         url('../fonts/GillSansStd-Bold.svg#GillSansStd-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GillSansStd-Light';
    src: url('../fonts/GillSansStd-Light.eot');
    src: url('../fonts/GillSansStd-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GillSansStd-Light.otf')  format('opentype'),
         url('../fonts/GillSansStd-Light.woff') format('woff'),
         url('../fonts/GillSansStd-Light.ttf')  format('truetype'),
         url('../fonts/GillSansStd-Light.svg#GillSansStd-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GillSansStd';
    src: url('../fonts/GillSansStd.eot');
    src: url('../fonts/GillSansStd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GillSansStd.otf')  format('opentype'),
         url('../fonts/GillSansStd.woff') format('woff'),
         url('../fonts/GillSansStd.ttf')  format('truetype'),
         url('../fonts/GillSansStd.svg#GillSansStd') format('svg');
    font-weight: normal;
    font-style: normal;
}