header{
	height: 365px;
	background: url(../images/header-bg.jpg) no-repeat center center;
	position: relative;
	overflow: hidden;

	.container{
		height: 365px;
	}

	.natura-flor{
		position: absolute;
		background: url(../images/header-natura.png) no-repeat center center;
		width: 451px;
		height: 235px;
		bottom: 0px;
		right: 210px;
		opacity: 0.7;
	}
	.logo-sou{
		position: absolute;
		background: url(../images/sou-logo.png) no-repeat center center;
		width: 333px;
		height: 176px;
		top: 40px;
		right: 50px;
	}
	p{
		position: absolute;
		bottom: 89px;
		right: 4px;
		color: @gray-text;
		width: 190px;
		font-family: @font-light;
		font-size: 17px;
		text-align: left;
	}
}