.container-history{
	height: 10700px;
    width: 100%;
    background: transparent;
}

@media screen and (max-height: 780px){
	.container-history{
		height: 8500px;
	}
}

#historico{
	background: url(../images/bg-historico.jpg) no-repeat top center;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;
	overflow: hidden;
	.container{
		overflow: hidden;
	}
	.col{
		height: 240px;
	}

	.sou-area{
		.sou_logo{
			background: url(../images/logo-sou2.png) no-repeat center;
			width: 189px;
			height: 101px;
			margin-left: 63px;
			margin-top: 5px;
		}
		h3{
			color: @dark-text;
			padding-left: 170px;
			margin-top: -10px;
			font-size: 30px;
			font-family: @natura-light;
			letter-spacing: -1px;
			strong{
				font-family: @natura-bold;
			}
		}

	}
	.arrow{
		&.purple:before{
			left: 100%;
			top: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(128, 126, 183, 0);
			border-left-color: @purple;
			border-width: 22px;
			margin-top: -4%;
			z-index: 1;
		}
		&.pink:before{
			left: 100%;
			top: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(236, 79, 124, 0);
			border-left-color: @pink;
			border-width: 22px;
			margin-top: -21px;
			z-index: 1;
		}
		&.green:before{
			left: 100%;
			top: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(97, 185, 162, 0);
			border-left-color: @green;
			border-width: 22px;
			margin-top: -21px;
			z-index: 1;
		}
		&.yellow:before{
			left: 100%;
			top: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(243, 161, 39, 0);
			border-left-color: @yellow;
			border-width: 22px;
			margin-top: -21px;
			z-index: 1;
		}
		&.cherry:before{
			left: 100%;
			top: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(229, 58, 100, 0);
			border-left-color: @cherry;
			border-width: 22px;
			margin-top: -21px;
			z-index: 1;
		}
		&.red:before{
			left: 100%;
			top: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(219, 65, 43, 0);
			border-left-color: @red;
			border-width: 22px;
			margin-top: -21px;
			z-index: 1;
		}
	}

	.align-middle{
		display: table;
	}
	.img{
		width: 100%;
		text-align: center;
		margin: 0 auto;
		padding-top: 30px;
		display: table-cell;
		vertical-align: middle;
	}

	.text-area{
		display: table;
		padding: 40px 35px 40px 40px;
		&.light-green{
			padding: 40px 25px 40px 40px;
		}
		p{
			font-size: 18px;
			font-family: @font-light;
			display: table-cell;
			vertical-align: middle;
			opacity: 0.9;
			strong{
				font-family: @font-regular;
			}
		}
	}

	.purple{
		.anim1{
			width: 104px;
			height: 113px;
			position: absolute;
			left: 50%;
			margin-left: -52px;
		}
		.anim1-1{
			background: url(../images/grid/anim_01_1.png) no-repeat center center;
			margin-top: 90px;
		}
		.anim1-2{
			background: url(../images/grid/anim_01_2.png) no-repeat center center;
		}
		.anim1-3{
			background: url(../images/grid/anim_01_3.png) no-repeat center center;
		}
		.anim1-4{
			background: url(../images/grid/anim_01_4.png) no-repeat center center;
		}
		.anim1-5{
			background: url(../images/grid/anim_01_5.png) no-repeat center center;
		}
	}
	.pink{
		.anim2{
			position: absolute;
			width: 167px;
			height: 146px;
			left: 50%;
			margin-left: -83.5px;
			margin-top: 44px;
		}
		.anim2-1{
			background: url(../images/grid/anim_02_1.png) no-repeat 0px 0px;
			width: 95px;
			height: 95px;
		}
		.anim2-2{
			background: url(../images/grid/anim_02_2.png) no-repeat -77px -56px;
			width: 90px;
			height: 90px;
			margin-top: 102px;
			margin-left: -7px;
		}
	}
	.green{
		.anim3{
			position: absolute;
			width: 174px;
			height: 110px;
			left: 50%;
			top: 50%;
			margin-top: -55px;
			margin-left: -87px;
			background: url(../images/grid/anim_03_1.png) no-repeat center center;
		}
	}
	.yellow{
		.anim4{
			position: absolute;
			width: 97px;
			height: 141px;
			left: 50%;
			top: 50%;
			margin-top: -70.5px;
			margin-left: -48.5px;
			background: url(../images/grid/anim_04.png) no-repeat center center;
		}
	}
	.cherry{
		.anim5{
			position: absolute;
			width: 148px;
			height: 95px;
			left: 50%;
			top: 50%;
			margin-top: -67.5px;
			margin-left: -74px;
		}
		.anim5-1{
			background: url(../images/grid/anim_05_1.png) no-repeat center center;
		}
		.anim5-2{
			background: url(../images/grid/anim_05_2.png) no-repeat center center;
			margin-top: -5px;
			margin-left: -71px;
		}
	}
	.red{
		.anim6{
			position: absolute;
			width: 120px;
			height: 122px;
			left: 50%;
			top: 50%;
			margin-top: -61px;
			margin-left: -60px;
			background: url(../images/grid/anim_06.png) no-repeat center center;
		}
	}

	.full-path{
		height: 100%;
		width: 500px;
		position: absolute;
		left: 50%;
		margin-left: -250px;
		margin-top: 110px;

		.path{
			background: url(../images/path-sprite.png) no-repeat;

			&.line1{
				width: 500px;
				height: 30px;
			}
			&.line2{
				background-position: 0px -25px;
				height: 210px;
			}
			&.line3{
				background-position: 0px -215px;
				height: 70px;
			}
			&.line4{
				background-position: 0px -312px;
				height: 170px;
			}
			&.line5{
				background-position: 0px -470px;
				height: 120px;
			}
			&.line6{
				background-position: 0px -600px;
				height: 120px;
			}
			&.line7{
				background-position: 0px -720px;
				height: 120px;
			}
			&.line8{
				background-position: 0px -840px;
				height: 120px;
			}
			&.line9{
				background-position: 0px -960px;
				height: 40px;
			}
			&.line10{
				background-position: 0px -1000px;
				height: 200px;
			}
			&.line11{
				background-position: 0px -1200px;
				height: 50px;
			}

		}
	}
}

@keyframes roll {
	0% {
		transform: rotate(0) translate(0px, 0px);
	}
	100% {
		transform: rotate(360deg) translate(0px, 0px);
	}
}
@keyframes rollinverse {
	0% {
		transform: rotate(0) translate(0px, 0px);
	}
	100% {
		transform: rotate(-360deg) translate(0px, 0px);
	}
}

@keyframes stoproll {
	0% {
		transform: none;
	}
	100% {
		transform: none;
	}
}

@keyframes skew {
	0% {
		transform: skewX(10deg);
	}
	100% {
		transform: skewX(-10deg);
	}
}

@keyframes stopskew {
	0% {
		transform: none;
	}
	100% {
		transform: none;
	}
}