.container-st{
    height: 2500px;
    width: 100%;
	background: @white;
}
#produtos{
	background: @white;
	height: 500px;
	.container{
		overflow: hidden;
		height: 470px;
	}

	h2{
		color: @purple;
		font-family: @natura-light;
		font-size: 35px;
		float: right;
		margin-right: 52px;
		margin-top: 85px;
		letter-spacing: -1px;
	}
	h3{
		color: @purple;
		font-family: @natura-regular;
		font-size: 50px;
		float: right;
	    margin-right: 108px;
	    margin-top: -18px;
		letter-spacing: -1px;
		span{
			font-size: 78px;
		}
	}

	a.yellowBox{
		position: absolute;
		right: 129px;
		display: block;
		background: url(../images/circle.png) no-repeat;
		width: 133px;
		height: 133px;
		margin-top: 20px;
		text-align: center;
		padding: 45px 5px;
		text-transform: uppercase;
		font-family: @natura-bold;
		font-size: 16px;
		transition: all 0.2s ease-out;
		&:hover{
			background: url(../images/circle-hover.png) no-repeat;
		}
	}

	.each-product{
		float: left;
		margin-top: -111px;
		margin-left: 160px;
		div{
			position: absolute;
			min-height: 200px;

			&.creme{
				margin-left: -91px;
				margin-top: 80px;
			}
			&.condicionador{
				margin-left: -104px;
				margin-top: 60px;
			}
			&.shampoo{
				margin-left: -117px;
				margin-top: 40px;
			}
			&.sabonete{
				margin-left: -135px;
				margin-top: 20px;
			}
			&.hidratante{
				margin-left: -120px;
			}
		}
	}
}