@import "base";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    font-family: @font-regular;
    font-size: 14px;
    color: @white;
    transition: all 0.2s ease-out;
    background-color: @light-gray;
    overflow-x: hidden;
}

.clearafter(){
    &:after{
        content: '';
        display: block;
        clear: both;
    }
}

a {
    color: @text-color;
    text-decoration: none;
}

ul{
    padding-left: 0;
}

ul, li{
    list-style: none;
}

.clearfix{
    clear: both;
}

.fl-right{
    float: right;
}
.fl-left{
    float: left;
}
.uppercase{
    text-transform: uppercase;
}

.container_full{
	position: relative;
	margin: 0 auto;
	width: 100%;
}
.container{
	position: relative;
	width: 960px;
	margin: 0 auto;
}

.col{
    position: relative;
    width: 50%;
    float: left;
}

.another-container{
    border: solid 2px @pink;
    height: 1900px
}