//== Colors
@white:             #fff;
@text-color:        @white;
@light-gray: 		#f8f8f8;
@gray-text: 		#bcbcbc;
@dark-text: 		#696969;

@purple: 			#807eb7;
@purple-light: 		#9896c4;

@pink: 				#ec4f7c;
@pink-light: 		#ee7094;

@green: 			#61b9a2;
@green-light: 		#84c8b6;

@yellow: 			#f3a127;
@yellow-light: 		#f4b250;

@cherry: 			#e53a64;
@cherry-light: 		#e85f81;

@red: 				#db412b;
@red-light: 		#df5c4a;

@yellow-main: 		#ffb933;

//== CLASSES

.purple {
	background: @purple;
}
.light-purple{
	background: @purple-light;
}
.pink {
	background: @pink;
}
.light-pink{
	background: @pink-light;
}
.green {
	background: @green;
}
.light-green{
	background: @green-light;
}
.yellow {
	background: @yellow;
}
.light-yellow{
	background: @yellow-light;
}
.cherry {
	background: @cherry;
}
.light-cherry{
	background: @cherry-light;
}
.red {
	background: @red;
}
.light-red{
	background: @red-light;
}

//== Typography
@natura-regular:     "naturasansregular";
@natura-bold:        "naturasansbold";
@natura-light:       "naturasanslight";

@font-bold:  		 "GillSansStd-Bold";
@font-light: 		 "GillSansStd-Light";
@font-regular: 		 "GillSansStd";