#videos{
	background: @purple;
	height: 615px;
	overflow: hidden;

	.slider-videos{
		text-align: center;
		width: 100%;
		.video1{
			display: table;
			background: url(../images/video01.jpg) no-repeat center;
			width: 100%;
			height: 615px;
		}
		.video2{
			display: table;
			background: url(../images/video02.jpg) no-repeat center;
			width: 100%;
			height: 615px;
		}
		.video3{
			display: table;
			background: url(../images/video03.jpg) no-repeat center;
			width: 100%;
			height: 615px;
		}
		.slider_content{
			display: table-cell;
			vertical-align: middle;
		}

		h1{
			font-family: @natura-bold;
			font-size: 55px;
			color: @white;
		}
		p{
			font-size: 22px;
			font-family: @natura-light;
			strong{
				font-family: @natura-bold;
			}
		}

		a.play{
			display: inline-block;
			margin-top: 30px;
		}
	}

	.slick-slider{
		margin-bottom: 0px;
	}

	.custom-dots {
	    position: absolute;
	    bottom: 145px;
	    list-style: none;
	    display: block;
	    text-align: center;
	    padding: 0;
	    width: 100%;
	    li {
	        position: relative;
	        display: inline-block;
	        width: 40px;
	        height: 11px;
	        margin: 0 5px;
	        padding: 0;
	        cursor: pointer;
	        button {
	            border: 0;
	            background: url(../images/customDots.png) no-repeat;
	            background-position: -47px -6px;
	            display: block;
	            width: 40px;
	            height: 11px;
	            outline: none;
	            line-height: 0px;
	            font-size: 0px;
	            color: transparent;
	            padding: 5px;
	            cursor: pointer;
	            &:hover, &:focus {
	                background-position: -4px -6px;
	            }
	        }
	        &.slick-active button {
	            background-position: -4px -6px;
	        }
	    }
	}
}